
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#search-button:hover {
    scale: 1.1;
}


/* Галерея изображений */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item {
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
    width: 300px; 
    height: 300px;
    overflow: hidden; 
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Масштабировать и обрезать изображение, чтобы оно занимало всю площадь элемента */
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a{
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
}

.close-button:hover {
    color: #000;
}

#clear-input:hover {
    color: black;
}

#clear-input {
    margin-left: 10px;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}