.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item {
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
    width: 300px; 
    height: 300px;
    overflow: hidden; 
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Масштабировать и обрезать изображение, чтобы оно занимало всю площадь элемента */
    border-radius: 5px;
}
