.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#search-button:hover {
    scale: 1.1;
}

#clear-input:hover {
    color: black;
}

#clear-input {
    margin-left: 10px;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}